<div class="border border-secondary">


    <div class="logo mt-5 border-bottom border-primary rounded-circle">
        <div class="col-md-12 text-center mb-3">
            <h1>All Upcomings Events</h1>
        </div>
    </div>
    <div class="container mt-3 w-75">
        <table class="table table-primary" id="expensestable">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Index</th>
                    <th scope="col" class="text-center">Event Name</th>
                    <th scope="col" class="text-center">Start Date</th>
                    <th scope="col" class="text-center">End Date</th>
                    <th scope="col" class="text-center">Published</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of events,let i=index">
                    <th scope="row" class="text-center">{{i+1}}</th>
                    <td class="text-center">{{data.EventName}}</td>
                    <td class="text-center">{{data.EventStartDate}}</td>
                    <td class="text-center">{{data.EventEndDate}}</td>
                    <td class="text-center">{{data.AddDate  | changeDate :'month' : 'secound' }}</td>
                </tr>
        </table>
    </div>

</div>