<div class="container  mt-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Add Price</h1>
                        </div>
                    </div>
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" *ngIf="events" >
                        <div class="form-group mt-3">
                            <label for="InputLoginType">Event Name</label>
                            <select class="form-control mt-1" name="LoginType" id="Type" (change)="onFileChange(myForm)" formControlName="EventId">
                                <option value="" disabled selected hidden>Select a event name</option>
                                <option *ngFor="let obj of events" value={{obj.Id}}>{{obj.EventName}}</option>
                            </select>
                        </div>
                        <div *ngIf="myForm.get('EventId')?.invalid && (myForm.get('EventId')?.dirty || myForm.get('EventId')?.touched)"
                        style="color:red;">
                        Please provide a event name.
                    </div>
                    <div><div class="form-group mt-3">
                        <label for="InputLoginType">Activity Name</label>
                        <select class="form-control mt-1" name="LoginType" id="Type" formControlName="ActivityId">
                            <option value="" disabled selected hidden>Select a activity name</option>
                            <option *ngFor="let obj of activitys" value={{obj.Id}}>{{obj.ActivityName}}</option>
                        </select>
                    </div>
                    <div *ngIf="myForm.get('ActivityId')?.invalid && (myForm.get('ActivityId')?.dirty || myForm.get('ActivityId')?.touched)"
                    style="color:red;">
                    Please provide a activity name.
                </div>
                <div *ngIf="!activitys && myForm.get('ActivityId')?.touched"
                    style="color:red;">
                    No activity found in selected Event first Add Activity
                </div>
                    <div class="form-group  mt-3">
                        <label class="form-label" for="exampleEventName">Activity Price</label>
                        <input type="Activity" name="ActivityName" class="form-control" id="ActivityName"
                            placeholder="Enter Activity Price" formControlName="ActivityPrice">
                    </div>
                    
                    <div *ngIf="myForm.get('ActivityPrice')?.invalid && (myForm.get('ActivityPrice')?.dirty || myForm.get('ActivityPrice')?.touched)"
                    style="color:red;">
                    Please provide an activity price.
                </div>
                    
                    <div class="col-md-12 text-center mt-3">
                        <button type="submit" id="Add" class=" btn btn-block mybtn btn-primary tx-tfm" >Add</button>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <div class="text-center success"><b>{{ResponseMessage}}</b></div>
                        </div>
                    </div></div>
                    <!-- <div style="color:red;" class="text-center" *ngIf="!activitys"> No activity found first Add Activity</div> -->
                    </form>
                    <div style="color:red;" class="text-center" *ngIf="!events"> No event found first Add Event</div>
                    

                </div>
            </div>
        </div>
    </div>
</div>