<app-nav [isUserLoggedIn]="false"></app-nav>


<div class="container mt-4">
    <div class="row">
      <div class="col">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="col-xxl-5">
                <!-- Header text content-->
                <div class="text-center text-xxl-start">
                    <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">ALL-IN-ONE EVENT MANAGEMENT SOFTWARE</div></div>
                    <div class="fs-3 fw-light text-muted">Welcome to </div>
                    <h1 class="display-3 fw-bolder md-3"><span class="text-gradient d-inline text-right"> EVENT MANAGEMENT SYSTEM</span></h1>
                    <button class="btn btn-block mybtn tx-tfm mt-3" type="submit" id="Create" routerLink="/login"><b>Log in to Start <i class="bi bi-arrow-right"></i></b></button>
                </div>
            </div>
        </div>
      </div>
      <div class="col mt-3">
        <img src="https://img.freepik.com/free-vector/gift-shopping-checklist-girl-cartoon-character-buying-presents-online-e-commerce-gift-card-promotion-birthday-anniversary-bonus_335657-77.jpg" class="img-fluid" alt="">
      </div>
    </div>
</div>

 


